:root {
    --branco: #ebebeb;
    --preto: #131313;
    --marrom: #402e18;
    --bege: #e7c6a8;
    --bege-escuro: #a38d78;
}

@font-face {
    font-family: "Belwe";
    src: url("font/belwe-bold-bt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("https://bnetcmsus-a.akamaihd.net/cms/gallery/L2NGVNHT1ABT1520449163034.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: url('images/HearthstoneHand.cur'), auto;
    font-family: "Belwe", bold;
    min-height: 200px;
    max-width: 100vw;
}

.page-title {
    color: var(--branco);
    margin: 5px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.container {
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    width: 100%;
}

button {
    color: var(--marrom);
    cursor: url('images/HearthstoneHand.cur'), auto;
    font-weight: bold;
    background-color: var(--bege);
    padding: 0.8rem 0.8rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

button:active {
    background-color: var(--bege-escuro);
    transition: .2s;
}

.button-jogar {
    padding-left: 6em;
    padding-right: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: var(--branco);
    margin: 5px;
    text-shadow: 2px 2px 0px black;
}

.sortear-carta:hover {
    transform: scale(1.1);
}

#costas-carta {
    padding: 0px;
}

#carta-jogador, #carta-maquina {
    align-items: flex-end;
    box-sizing: border-box;
    background-size: 295px 418px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    border-radius: 10px;
    height: 418px;
    margin-bottom: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    overflow: auto;
    position: relative;
    transition: all 0.5s ease;
    width: 292px;
}

#carta-jogador:hover,
#carta-maquina:hover {
    transform: scale(1.1);   
}

#carta-jogador h3 {
    text-align: center;
}

#opcoes.carta-status {
    transform: translateY(-8px);
}

.carta-status {
    font-size: 1.3em;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin:15px 45px;
    color: black;
    font-weight: bold;
}

.carta-status input {
    margin: 3px 3px;
    padding: 10px;
    height: 15px;
    width: 15px;
}

#resultado {
    position: absolute;
    top: 70%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    margin: 5px;
}

.resultado-final {
    color: var(--marrom);
    border-radius: 5px;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.541);
    font-size: 2rem;
    text-transform: uppercase;
    font-weigth: bolder;
    padding: .5rem;
    border: 0px solid var(--preto);
    background-color: var(--bege);
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#cartas {
    display: flex;
    justify-content: space-between;
}

.carta-status p {
    margin-bottom: 2rem;    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bege); /* Substitua pela cor desejada */
    padding: 10px;
    text-align: center;
}

audio {
    width: 100%;
    height: 15px;
}

audio::-webkit-media-controls-panel {
    background-color: var(--bege);
}



