@charset "UTF-8";

/* DISPOSITÍVOS MÓVEIS */
@media screen and (max-width: 320px) {
    .container {
    height: 99vh;
    }

    .page-title {
        font-size: 1.2em;
    }
    
    .sortear-carta {
        font-size: 1.2em;
        margin: 5px;
        padding: 5px;
        height: 30px;
        width: 150px;
    }
    
    form > h2 {
        font-size: 1em;
    }
    
    #costas-carta {
        height: 180px;
        width: 120px;
    }
    
    #carta-jogador,
    #carta-maquina {
        background-size: 150px 200px;
        height: 200px;
        margin-top: 10px;
        width: 140px;
    }
    
    .carta-status {
        font-size: 0.7em;
        height: 60px;
        margin: 2px;
        transform: translateX(50px);
    }
    
    .carta-status input {
        margin: 5px;
        height: 10px;
        width: 10px;
    }
    
    .button-jogar {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 85%;
        height: 45px;
        width: 100px;
        font-size: 1.5em;
    }
    
    #resultado {
        top: 50%;
    }
}

@media screen and (min-width: 321px) and (max-width: 428px) {
    .container {
        height: 99vh;
    }

    .page-title {
        font-size: 1.6em;
    }
    
    .sortear-carta {
        font-size: 1.2em;
        margin: 5px;
        height: 50px;
        width: 200px;
    }
    
    #costas-carta {
        height: 250px;
    }
    
    #carta-jogador,
    #carta-maquina {
        background-size: 190px 270px;
        height: 270px;
        margin-top: 30px;
        width: 190px;
    }
    
    .carta-status {
        font-size: 1em;
        height: 75px;
        margin: 5px;
        transform: translateX(23px);
    }
    
    .carta-status input {
        margin: 3px;
        padding: 5px;
        height: 13px;
        width: 13px;
    }
    
    .button-jogar {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 80%;
        height: 60px;
        width: 100px;
        font-size: 1.5em;
    }
    
    #resultado {
        top: 50%;
    }
    
}

/* TABLETS */
@media screen and (min-width: 768px) and (min-width: 768px) {
    .container {
    height: 99vh;
    }
    
    .page-title {
        font-size: 3em;
    }
    
    .sortear-carta {
        font-size: 2em;
        height: 60px;
        width: 250px;
    }
    
    form > h2 {
        font-size: 2.5em;
    }
    
    #carta-jogador,
    #carta-maquina {
        background-size: 320px 400px;
        height: 400px;
        margin-top: 30px;
        width: 320px;
    }
    
    .button-jogar {
        align-items: center;
        display: flex;
        font-size: 2.5em;
        height: 80px;
        justify-content: center;
        top: 80%;
        width: 100px;
    }

}

@media screen and (min-width: 800px) and (max-width: 834px) and (max-height: 1280px) {
    .container {
    height: 99vh;
    }

    .page-title {
        font-size: 3em;
    }
    
    .sortear-carta {
        font-size: 2em;
        height: 60px;
        width: 250px;
    }
    
    form > h2 {
        font-size: 2.5em;
    }
    
    #costas-carta {
        height: 400px;
        width: 350px;
    }
    
    #carta-jogador,
    #carta-maquina {
        background-size: 330px 430px;
        height: 430px;
        margin-top: 80px;
        width: 330px;
    }
    
    .carta-status {
        font-size: 1.7em;
        height: 150px;
        margin: 5px;
        transform: translateX(80px);
    }
    
    .carta-status input {
        margin: 5px;
        padding: 5px;
        height: 18px;
        width: 18px;
    }
    
    .button-jogar {
        align-items: center;
        display: flex;
        font-size: 2.5em;
        height: 80px;
        justify-content: center;
        top: 80%;
        width: 100px;
    }
    
    #resultado {
        top: 50%;
    }
    
    .resultado-final {
        font-size: 3em;
        padding: 0.8em;
    }
    
    .wrapper {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

}

/* DESKTOP */
@media screen and (min-width: 835px) {
    .container {
        height: 99vh;
    }
    
    .page-title {
    font-size: 2em;
    }

    .sortear-carta {
        font-size: 1.5em;
        height: 50px;
        width: 230px;
    }
    
    form > h2 {
        font-size: 1.5em;
    }
    
    #carta-jogador,
    #carta-maquina {
        background-size: 300px 430px;
        height: 430px;
        margin-top: -15px;
        width: 300px;
    }
    
    .button-jogar {
        font-size: 1.5em;
        height: 50px;
        justify-content: center;
        top: 80%;
        width: 100px;
    }
    
    #resultado {
        top: 50%;
    }

}