@charset "UTF-8";

/* CELULAR */
@media screen and (max-width: 428px) {
    .container {
        height: 90vh;
    }
    
    .page-title {
        font-size: 1.6em;
    }

    button.sortear-carta {
        font-size: 1.2em;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 50px;
        width: 200px;
    }

    form > h2 {
        margin-top: 5px;
    }

    #costas-carta {
        height: 250px;
    }

    #carta-jogador, #carta-maquina {
        background-size: 190px 270px;
        height: 270px;
        margin-top: 30px;
        width: 190px;
    }

    .carta-status {
        font-size: 1em;
        height: 75px;
        margin: 5px 5px;
        transform: translateX(23px);
    }

    .carta-status input {
        margin: 3px 3px;
        padding: 5px;
        height: 13px;
        width: 13px;
    }

    .button-jogar {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 80%;
        height: 60px;
        width: 100px;
        font-size: 1.5em;
    }

    #resultado {
        top: 50%;
    }
}

/* TABLET */
@media screen and (min-width: 428px) and (max-width: 834px) {
    .container {
        height: 99vh;
    }

    .page-title {
        font-size: 3em;
    }

    button.sortear-carta {
        font-size: 2em;
        height: 60px;
        width: 250px;
    }

    form > h2 {
        font-size: 3em;
    }

    #costas-carta {
        height: 420px;
        width: 500px;
    }

    #carta-jogador, #carta-maquina {
        background-size: 350px 480px;
        height: 480px;
        margin-top: 50px;
        width: 350px;
    }

    .carta-status {
        font-size: 1.7em;
        height: 150px;
        margin: 5px 5px;
        transform: translateX(80px);
    }

    .carta-status input {
        margin: 5px 5px;
        padding: 5px;
        height: 18px;
        width: 18px;
    }

    .button-jogar {
        align-items: center;
        display: flex;
        font-size: 2.5em;
        height: 80px;
        justify-content: center;
        top: 80%;
        width: 100px;
    }

    #resultado {
        top: 50%;
    }

    .resultado-final {
        font-size: 3em;
        padding: .8em;
    }

    .wrapper {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

}