@charset "UTF-8";

/* CELULAR */
@media screen and (max-width: 428px) {
    .container {
        height: 150px;
    }
    
    .page-title {
        font-size: 1.6em;
    }

    button.sortear-carta {
        font-size: 1.2em;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 50px;
        width: 200px;
    }

    form > h2 {
        margin-top: 5px;
    }

    #costas-carta {
        height: 250px;
    }

    #carta-jogador, #carta-maquina {
        background-size: 190px 270px;
        height: 270px;
        margin-top: 30px;
        width: 190px;
    }

    .carta-status {
        height: 75px;
        margin: 5px 5px;
        transform: translateX(23px);
    }

    .carta-status input {
        margin: 3px 5px;
        padding: 5px;
    }

    .button-jogar {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 80%;
        height: 60px;
        width: 100px;
        font-size: 1.5em;
    }

    #resultado {
        top: 50%;
    }
}

